.App {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto auto;
	grid-template-areas:
		'header'
		'nav'
		'content';
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.App {
		grid-template-columns: 25% 75%;
		grid-template-rows: min-content auto;
		grid-template-areas:
			'header header'
			'nav content';
	}
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Articles {
	grid-area: content;
	display: flex;
	flex-wrap: wrap;
}

.Header {
	grid-area: header;
}

.Nav {
	grid-area: nav;
}
