.App {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: min-content auto auto;
	grid-template-areas:
		'header'
		'nav'
		'content';
	text-align: center;
	background-color: #eaeaea;

	padding: 0em;
}
.Link {
	color: #293241;
}
.NavLink {
	color: #e0fbfc;
}
.Nav {
	grid-area: nav;
	background-color: #3d5a80;
	min-height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
	font-size: calc(5px + 2vmin);
	color: #98c1d9;
	padding: 0.5em;
}

p {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
/* @media only screen and (min-width: 1024px) {
	.App {
		grid-template-columns: 25% 75%;
		grid-template-rows: min-content auto;
		grid-template-areas:
			'header header'
			'nav content';
	}
	.Nav {
		flex-direction: column;
		justify-content: start;
	}
} */
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Articles {
	grid-area: content;
	display: flex;
	flex-flow: column wrap;
	padding: 1em;
	justify-content: center;
}

.Articles__title {
	justify-content: center;
}

.Articles-list__list {
	border: 2px;
	border-color: black;

	padding: 1em;
	display: flex;
	flex-wrap: wrap;

	box-sizing: border-box;
}
.Articles-list__article-card {
	background-color: #e0fbfc;
	border: 0.1em;
	border-color: black;
	border-style: solid;
	border-radius: 2%;
	margin: 0.5em;
	padding: 0.5em;
	font-size: medium;
	text-align: left;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
}

.SingleArticle__article-footnotes {
	display: flex;
	flex-direction: row;
}
.Header {
	grid-area: header;
	background-color: #293241;
	min-height: 3vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #eaeaea;
	padding: 1em;
	font-weight: bold;
	letter-spacing: 0.05em;
}

.Votes button__upvote button__upvote--active {
	background-color: yellow;
}
.Votes button__downvote button__downvote--active {
	background-color: yellow;
}

.label__filter {
	padding-right: 0.5em;
	padding-left: 1em;
}
.label__sort {
	padding-right: 0.5em;
	padding-left: 1em;
}

.select__filter {
	border-radius: 5%;
}
.select__sort {
	border-radius: 5%;
}

.SingleArticle__article-card {
	background-color: #e0fbfc;
	border: 0.1em;
	border-color: #293241;
	border-style: solid;
	border-radius: 0.5%;
	margin: 0.5em;
	padding: 0.5em;
	font-size: medium;
	text-align: left;
	display: flex;
	flex-flow: column wrap;
	flex-grow: 1;
	color: #3d5a80;
}
